/* цвет остновного текста  #212121;*/
/* вторичный цвет текста #757575 */
/* акцент #2196F3 */
/* белый #E5E5E5 */
/* вторичный белый */
/* Цвет фона #2F303A */

:root {
    --main-color-text: #212121;
    --secondary-color-text: #757575;
    --accented-color-text: #2196F3;
    --background-head-footer: #2F303A;
    --main-text: 14px;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);


}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;

}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

}

body {
    color: var(--main-color-text);
    font-family: 'Roboto', sans-serif
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
input{
    margin: 0;
    padding: 0;
}

/* Логотип */
.logo {
    font-family: 'Raleway', sans-serif;
    color: var(--accented-color-text);
    font-size: 26px;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
    display: block;
    align-items: center;


}

.name-logo {
    color: var(--main-color-text);
}

/* Навигация */
.header {
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
}

.nav-site-list {
    display: flex;
    margin-left: 93px;
}

.nav-site-item:not(:last-child) {
    margin-right: 50px;

}

.nav-site-item {
    position: relative;
}

.nav-site-link {
    font-size: var(--main-text);
    font-weight: 500;
    text-decoration: none;
    line-height: 1.17;
    color: var(--main-color-text);
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.current {
    color: var(--accented-color-text);
}

.current::after {
    content: '';
    border-bottom: 4px solid var(--accented-color-text);
    border-radius: 2px;
    display: block;
    width: 100%;
    position: absolute;
    bottom: -32px;

}

.nav-site-link:hover,
.nav-site-link:focus {
    color: var(--accented-color-text);
}



/* Данные/контакты */
.contactsss {
    display: flex;
    align-items: center;
    margin-left: 320px;
}

.contacts-list {
    display: flex;
    margin-left: auto;
}

.contacts-icon {
    fill: currentColor;
    margin-right: 10px;
}

.contacts-item:not(:last-child) {
    margin-right: 50px;
}

.contacts-link {
    color: var(--secondary-color-text);
    font-size: var(--main-text);
    font-weight: 500;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--accented-color-text);
}

.contacts-link:visited {
    color: var(--secondary-color-text);
}

/* первая секция */
.section-slogan {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #C4C4C4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/team.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    margin: auto;
    max-width: 1600px;
}

.section-slogan-title {
    font-size: 44px;
    font-weight: 900;
    color: white;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    width: 696px;
    margin-right: auto;
    margin-left: auto;
}

.button {
    background-color: var(--accented-color-text);
    color: #ffffff;
    cursor: pointer;
    line-height: 1.87;
    letter-spacing: 0.06em;
    display: block;
    border-radius: 4px;
    min-width: 200px;
    min-height: 50px;
    margin: 0 auto;
    border: transparent;


}

/*  2 секция  */
.section-info-head {
    display: none;
    visibility: hidden;
}

.info-container {
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.section-info-list {
    display: flex;
}

.section-info-item:not(:last-child) {
    margin-right: 30px;
}

.section-info-title {
    font-size: var(--main-text);
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.section-info-text {
    font-size: var(--main-text);
    font-weight: 400;
    color: var(--secondary-color-text);
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* 3 секция картинки и заголовок*/

.section-photo {
    padding-top: 0;
}

.section-photo-list {
    display: flex;

}

.section-photo-item:not(:last-child) {
    margin-right: 30px;
}

.section-photo-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}

.section-photo-text {
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 700;
    font-size: var(--main-text);
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: #ffffff;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}

.section-photo-item:hover .section-photo-text,
.section-photo-item:focus .section-photo-text {
    opacity: 1;
    transform: translateY(0);
    
}

.section-photo-container {
    position: relative;
    overflow: hidden;
}

/* 4 секция карточки работников */

.section-worker-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;

}

.section-worker-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-right: 30px;
    background-color: #Ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.section-worker-content {
    padding-bottom: 30px;
    padding-top: 30px;
}

.section-worker {
    background-color: #F5F4FA;
}

.section-worker-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;

}

.worker-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
}

.worker-text {
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary-color-text);
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    text-align: center;
}

.worker-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-worker-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.worker-social-item:not(:last-child) {
    margin-right: 10px;
}

.worker-social-link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #AFB1B8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.worker-social-icon {
    fill: currentColor;
}

.worker-social-link:hover,
.worker-social-link:focus {
    background-color: var(--accented-color-text);
    color: #ffffff;
}

/* Секция постоянные клиенты  */
.section-clients-title {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03;
    text-align: center;
    margin-bottom: 50px;
}

.section-clients-list {
    display: flex;
}

.section-clients-link {
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.section-clients-link:hover,
.section-clients-link:focus {
    color: var(--accented-color-text);
    border-color: var(--accented-color-text);

}

.section-clients-icon {
    fill: currentColor;
}

.section-clients-item {
    width: 170px;
    height: 92px;
}

.section-clients-item:not(:last-child) {
    margin-right: 30px;

}

/* футер сайта */
.footer {
    background-color: var(--background-head-footer);
    padding-top: 60px;
    padding-bottom: 60px;

}


.footer-logo {
    color: #Ffffff;
    letter-spacing: 0.03em;


}

.address {
    margin-top: 20px;

}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-address {
    font-size: var(--main-text);
    font-weight: 400;
    color: #ffffff;
    line-height: 1.71;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 0.03em;

}

.footer-link {
    font-weight: 400;
    color: var(--secondary-color-text);
    font-size: var(--main-text);
    text-decoration: none;
    line-height: 1.17;
    font-style: normal;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-link:hover,
.footer-link:focus {
    color: var(--accented-color-text);
}

.container-footer {
    display: flex;
    align-items: baseline;
}

.footer-left {
    display: flex;
    flex-direction: column;
}

.foooter-rigth {
    margin-left: 70px;

}

.footer-subscribe-title {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03;
    color: #ffffff;
    font-style: normal;
    margin-bottom: 20px;
}

.footer-subscribe-list {
    display: flex;

}

.footer-subscribe-link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-subscribe-icon {
    fill: currentColor;
}

.footer-subscribe-link:hover,
.footer-subscribe-link:focus {
    background-color: var(--accented-color-text);
}

.footer-subscribe-item:not(:last-child) {
    margin-right: 10px;
}
.footer-join-container{
    margin-left: 95px;
}
.footer-join-text{
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.footer-join-input{
    width: 360px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: var(--background-head-footer);
    color: #ffffff;
    cursor: pointer;
    padding: 15px 16px;
    outline: none;
}
.footer-join-input:hover,
.footer-join-input:focus{
    border-color: var(--accented-color-text);
}
.footer-join-input::placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
}
.footer-form{
    display: flex;
}
.footer-button-input{
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--accented-color-text);
    border: transparent;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    margin-left: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Вторая страничка портфолио
    КНОПКИ*/
.section-button-title {
    display: none;
    visibility: hidden;
}

.section-button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}



.section-button-item:not(:last-child) {
    margin-right: 8px;
}

.buttons {
    background-color: #F5F4FA;
    color: var(--main-color-text);
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    font-weight: 500;
    border-radius: 4px;
    padding: 6px 22px 6px 22px;
    border: 0;
    cursor: pointer;

}

.buttons:hover,
.buttons:focus {
    background-color: var(--accented-color-text);
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Карточки второй странички */
.work-examples-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;

}

.work-examples-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
}

.work-examples-link {
    display: block;
    text-decoration: none;
    color: var(--main-color-text);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-examples-link:focus,
.work-examples-link:hover {
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}

.work-examples-container {
    position: relative;
    overflow: hidden;
}

.work-examples-link:hover .work-examples-imgtext,
.work-examples-link:focus .work-examples-imgtext {
    opacity: 1;
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.work-examples-imgtext {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 0.03em;
    line-height: 1.55;
    width: 100%;
    height: 100%;
    padding: 63px 24px 63px 24px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}

.work-exaples-content {
    padding: 20px 24px;
}

.work-examples-title {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.06em;
    line-height: 1.625;
    margin-bottom: 4px;
}

.work-examples-text {
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary-color-text);
    line-height: 1.17;
    letter-spacing: 0.03em;

}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    visibility: visible;
    transition: opacity 800ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 800ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 530px;
    min-height: 580px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;

}

.button-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.exit-icon{
    fill: currentColor;
}
.button-icon:hover,
.button-icon:focus{
    color: var(--accented-color-text);
     
}
.modal-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 12px;

}
.form-container{
    display: flex;
    flex-direction: column;
    position: relative;
}
.form-label{
    margin-bottom: 4px;
    font-weight: 400;
    color: var(--secondary-color-text);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;


}
.form-input{
    margin-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
    height: 40px;   
    padding-left: 42px; 
    outline: none
}
.form-input:hover,
.form-input:focus{
    border-color: var(--accented-color-text);  
}
.form-input:hover ~.form-svg,
.form-input:focus ~ .form-svg{
    border-color: var(--accented-color-text);   
    color: var(--accented-color-text);
}
.form-svg{
    position: absolute;
    top: 14px;
    left: 14px;
    display: block;
    cursor: pointer;
    fill: currentColor;
    
    
}
.form-textarea{
    margin-bottom: 20px;
    min-height: 120px;
    resize: none;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}
.form-textarea:hover,
.form-textarea:focus{
    border-color: var(--accented-color-text);
}
.form-textarea::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.checkbox{
    -webkit-appearance: none;
      -moz-appearance: none;
           appearance: none;
}
.policy{
    width: 16px;
    height: 15px;
    display: inline-block;
    border: 2px solid #212121;
    border-radius: 4px;
    position: relative;

    
}
.label-icon{
    position: absolute;
    top: 4px;
    left: 3px;
}
.checkbox:checked + .policy{
    background-color: var(--accented-color-text);
    border: none; 
}
.label-policy{
    font-weight: 400;
    font-size: 14px;
    color: var(--secondary-color-text);
    line-height: 1.71;
    letter-spacing: 0.03em;
    cursor: pointer;  
}
.lebel-policy-link{
    color: var(--accented-color-text);
}

.form-button{
    min-width: 200px;
    min-height: 50px;
    background-color:var(--accented-color-text) ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border: transparent;
    cursor: pointer;
    display: block;
    margin: 30px auto 0 auto ;
}

