/* цвет остновного текста  #212121;*/
/* вторичный цвет текста #757575 */
/* акцент #2196F3 */
/* белый #E5E5E5 */
/* вторичный белый */
        /* Цвет фона #2F303A */

:root{
    --main-color-text: #212121;
    --secondary-color-text:#757575;
    --accented-color-text:#2196F3;
    --background-head-footer: #2F303A;
    --main-text: 14px;
    
}
body{
    color:var(--main-color-text) ;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    
}
.list{
    list-style: none;
    
}

/* Логотип */
.logo{
    font-family: 'Raleway', sans-serif;
    color: var(--accented-color-text);
    font-size: 26px;
    text-decoration: none;
    line-height: 1.17;

}
.name-logo{
    color:var(--main-color-text);
}
/* Навигация */
.list-item{
    font-size: var(--main-text);
    font-weight: 500;
    text-decoration: none;
    line-height: 1.17;
}
.nav-list .list-item:hover,
.nav-list .list-item:focus
{
    color: var(--accented-color-text);   
}
 .list-item:visited{
    color: var(--main-color-text);   
}


/* Данные/контакты */
 .contacts{
    color: var(--secondary-color-text);
    font-size: var(--main-text);
    font-weight: 500;
    text-decoration: none;
    line-height: 1.17;
}
.contacts:hover,
.contacts:focus{
    color:var(--accented-color-text);
}
/* первая секция */
.section{
    background-color: var(--background-head-footer);
    
}
.slogan{
    font-size: 44px;
    font-weight: 900;
    text-align: center;
    color: white;
    line-height: 1.36;
}

 .button{ 
    background-color: var(--accented-color-text);
    color: #ffffff;
    cursor: pointer;
    line-height: 1.87;

    
}
/*  2 секция  */
.title{
    font-size: var(--main-text);
    font-weight: 700;
    line-height: 1.17;
}
.description{
    font-size: var(--main-text);
    font-weight: 400;
    color: var(--secondary-color-text) ;
    line-height: 1.71;
}

/* 3 секция картинки и заголовок*/
.heading{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 1.17;
}
/* 4 секция карточки работников */
.section-worker{
    background-color: #F5F4FA;
}
.worker {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 1.17;
}
.position{
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary-color-text);
    text-align: center;
    line-height: 1.17;
}
/* футер сайта */
.footer{
    background-color: var(--background-head-footer);
}
.footer-logo{
    color: #Ffffff;

}
.address{
    font-size: var(--main-text) ;
    font-weight: 400;
    color: #ffffff; 
    line-height: 1.71 ;  
}
.footer .contacts{
    font-weight: 400;
}
/* Вторая страничка портфолио
    КНОПКИ*/
.work-button .button{
    background-color: #F5F4FA;
    color: var(--main-color-text);
    font-size: 16px;
    line-height: 1.625;
    
}
.work-button .button:hover,
.work-button .button:focus{
    background-color: var(--accented-color-text) ;
    color:#ffffff;
}
