.section-worker {
    background-color: #F5F4FA;
}

.section-worker__title {
    @include font($fsz:24px, $fw:700);
    // @include font($fsz:36px, $fw:700);
    text-align: center;
    // margin-bottom: 50px;
    margin-bottom: 30px;
}

.section-worker__list {
    // display: flex;
    // flex-wrap: wrap;
    // margin-right: -30px;

}

.section-worker__item {
    flex-basis: calc(100% / 4 - 30px);
    // margin-right: 30px;
    background-color: #Ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    // &:not(:last-child) {
    //     margin-right: 10px;
    // }
    margin-bottom: 30px;
}

.section-worker__content {
    padding-bottom: 30px;
    padding-top: 30px;
}

.section-worker__heading {
    @include font($fsz:16px);
    text-align: center;
    margin-bottom: 10px;
}

.section-worker__desc {
    @include font($fsz:16px, $fw:400);
    margin-bottom: 16px;
    text-align: center;
    color: var(--secondary-color-text);
}

.worker-social__list {
    @include flex();
}

.worker-social__link {
    width: 44px;
    height: 44px;
    @include flex();
    border-radius: 50%;
    color: #AFB1B8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            background-color: var(--accented-color-text);
            color: #ffffff;
        }
}

.worker-social__icon {
    fill: currentColor;
}

