.logo {
    font-family: 'Raleway', sans-serif;
    color: var(--accented-color-text);
    @include font($fsz:24px, $fw:700);
    text-decoration: none;
    display: block;
    align-items: center;
    @media screen and(min-width: 1200px) {
        @include font($fsz:26px, $fw:700);
    }
}

